html {
    scroll-behavior: smooth;
  }

body {
    background-color: #222222;
}

.my-header .my-name {
    color: #cdcdcd;
    text-align: center;
    white-space: nowrap;
    font-size: 28pt;
    font-weight: 100;
    margin-top: 250px;
    margin-bottom: 250px;
}

.my-header .my-text {
    color: #cdcdcd;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    font-size: 16px;
    font-weight: 200;
}

hr {
    border-top: 1px solid hsl(0, 0%, 60%);
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.my-nav{
    opacity: 0.8;
    text-align: center;
    white-space: nowrap;
    background-color: #222222;
}

.my-nav-hr {
    /* display: none; */
}

.my-nav li {
    color: #cdcdcd;
    display: inline;
    list-style-type: none;
    line-height: 50px;
    font-size: 20px;
    font-weight: 100;
}

.my-nav li a{
    color: #cdcdcd;
    text-decoration: none; /* 滑鼠滑過無反應 */
    margin: 0 20px;
}

.my-nav li a:visited {
    text-decoration: none;
}

.my-nav li a:hover {
    text-decoration: underline;
}

.sticky {
    position: sticky; top: 0px;
    z-index: 10;
}

#about {
    color: #cdcdcd;
    padding: 10%;
}

#about h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
    font-size: 20px;
    font-weight: 100;
    padding: 0 10%;

}

#timeline {
    color: #cdcdcd;
    padding: 10%;
    white-space: nowrap;
}

#timeline h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
    font-size: 24px;
    font-weight: 100;
    padding: 0 10%;
}

#timeline h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* line-height: 30px; */
    font-size: 18px;
    font-weight: 100;
    padding: 0 10%;
}


#timeline h5 {
    color: #666666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* line-height: 30px; */
    font-size: 18px;
    font-weight: 100;
    padding: 0 10%;
}
 
#skill {
    color: #cdcdcd;
    opacity: .9;
    padding: 10%;
    /* margin-top: 5%; */
    white-space: nowrap;
    
}

.skill-text {
    color: #cdcdcd;
    text-align: center;
    font-size: 16px;
}

#skill div p {
    margin: 12px auto;
}

@-webkit-keyframes swift /* Safari and Chrome */
{
from {width: 0%;}
to {width: 60%;}
}

@-webkit-keyframes js /* Safari and Chrome */
{
from {width: 0%;}
to {width: 70%;}
}

@-webkit-keyframes hc /* Safari and Chrome */
{
from {width: 0%;}
to {width: 60%;}
}

@-webkit-keyframes ci /* Safari and Chrome */
{
from {width: 0%;}
to {width: 80%;}
}

@-webkit-keyframes bi /* Safari and Chrome */
{
from {width: 0%;}
to {width: 60%;}
}

.progress {
    background-color: #444444;;
    height: 20px; 

}

.swift {
    color: #444444; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px;
    height: 20px; 
    width: 60%; 
    background-color: #cdcdcd; 
    -webkit-animation: swift 5s;
    -webkit-animation-play-state: paused;
}

.js {
    color: #444444; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 70%; 
    background-color: #cdcdcd; 
    -webkit-animation: js 4s;
    -webkit-animation-play-state: paused;
}

.hc {
    color: #444444; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 60%; 
    background-color: #cdcdcd; 
    -webkit-animation: hc 4s;
    -webkit-animation-play-state: paused;
}

.ci {
    color: #444444; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 80%; 
    background-color: #cdcdcd; 
    -webkit-animation: ci 5s;
    -webkit-animation-play-state: paused;
}

.bi {
    color: #444444; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 60%; 
    background-color: #cdcdcd; 
    -webkit-animation: bi 4s;
    -webkit-animation-play-state: paused;
}

#work {
    color: #cdcdcd;
    padding: 10%;
}

#work h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    /* padding: 0 10%; */

}

#work li {
    display: inline;
    list-style: none;
}

#work ul {
    white-space: nowrap;
    padding: 12px;
}

#work li img {
    height: 40px;
}

#work a:visited {
    display: none;
}

#contact {
    color: #cdcdcd;
    padding: 10%;
}

#contact .my-contact {
    text-align: center;
    margin: 16% 0 ;
}

.me-img {
    border: 4px solid #cdcdcd;
    max-width: 160px;
    text-align: right;
 }