body {
    background-color: #222222;
}

.my-header .my-name {
    color: #cdcdcd;
    text-align: center;
    white-space: nowrap;
    font-size: 28pt;
    font-weight: 100;
    margin-top: 250px;
    margin-bottom: 250px;
}

.my-header .my-text {
    color: #cdcdcd;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    font-size: 16px;
    font-weight: 200;
}

hr {
    border-top: 1px solid hsl(0, 0%, 60%);
    text-align: center;
    width: 80%;
    margin-top: 20px;
}

.my-nav{
text-align: center;
white-space: nowrap;
background-color: #222222;
}

.my-nav li {
    color: #cdcdcd;
    display: inline;
    list-style-type: none;
    line-height: 50px;
    font-size: 20px;
    font-weight: 100;
}

.my-nav li a{
    color: #cdcdcd;
    text-decoration: none; /* 滑鼠滑過無反應 */
    margin: 0 20px;
}

.my-nav li a:visited {
    text-decoration: none;
}

.my-nav li a:hover {
    text-decoration: underline;
}

.sticky {
    position: sticky; top: 0px;
    z-index: 10;
}

#about {
    color: #cdcdcd;
    padding: 10%;
}

#about h3 {
    line-height: 50px;
    font-size: 20px;
    font-weight: 100;
    padding: 0 10%;

}
.me-img {
    border: 4px solid #cdcdcd;
    max-width: 200px;
    text-align: right;
 }


 .subject {
     color: #1b232b;
     text-align: left;
     margin-left: 5%;
 }
 
#skill {
    opacity: .9;
    padding: 2%;
    /* margin-top: 5%; */
    margin-right: 5%;
    white-space: nowrap;
    margin-left: 5%;
}

.skill-text {
    color: #cdcdcd;
    text-align: center;
    font-size: 16px;
}

@-webkit-keyframes swift /* Safari and Chrome */
{
from {width: 0%;}
to {width: 60%;}
}

@-webkit-keyframes js /* Safari and Chrome */
{
from {width: 0%;}
to {width: 70%;}
}

@-webkit-keyframes hc /* Safari and Chrome */
{
from {width: 0%;}
to {width: 60%;}
}

@-webkit-keyframes ci /* Safari and Chrome */
{
from {width: 0%;}
to {width: 80%;}
}

@-webkit-keyframes bi /* Safari and Chrome */
{
from {width: 0%;}
to {width: 60%;}
}

.swift {
    color: #222222; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 60%; 
    background-color: #cdcdcd; 
    -webkit-animation: swift 5s;
}

.js {
    color: #222222; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 70%; 
    background-color: #cdcdcd; 
    -webkit-animation: js 4s;
}

.hc {
    color: #cdcdcd; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 60%; 
    background-color: rgb(17, 65, 113); 
    -webkit-animation: hc 4s;
}

.ci {
    color: #cdcdcd; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 80%; 
    background-color: rgb(17, 65, 113); 
    -webkit-animation: ci 5s;
}

.bi {
    color: #cdcdcd; 
    font-size: 8px; 
    text-align: center; 
    line-height: 20px; 
    height: 20px; 
    width: 60%; 
    background-color: rgb(17, 65, 113); 
    -webkit-animation: bi 4s;
}